* {
  text-align: center;
  background-color: antiquewhite;
}


body {
  font-size: 62.5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  height:auto;
}

.title {
  display: block;
  margin: 40px auto;
  font-size: 4rem;
  padding-top: 20px;
  padding-bottom: 50px;
}

.directions p {
  content: 10px;
  font-size: 1.6rem;

  margin: 40px auto;
  width: 50%;
  line-height: 1.5;
}

#warning {
  color: red;
  font-style: oblique;
}

.container {
  width: 25%;
  height: 500px;
}

#start {
  font-size: 24px;
  border-radius: 12px;
  padding: 14px 40px;
  cursor: pointer;
}

#submit {
  font-size: 24px;
  border-radius: 12px;
  padding: 14px 40px;
  cursor: pointer;
}


/* building a slider button? look at lesson 13 for positioning rules */
