* {
  text-align: center;
  background-color: rgb(158, 185, 219);
}

body {
  font-size: 62.5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: auto;
}

.title {
  display: block;
  margin: 40px auto;
  font-size: 4rem;
  padding-top: 20px;
  padding-bottom: 30px;
}

.directions p {
  position: relative;
  content: 10px;
  font-size: 1.2rem;
  margin: 40px auto;
  width: 50%;
  line-height: 1.5;
}

.timer-box {
  position: relative;

}

#warning {
  color: red;
  font-style: oblique;
}

#correct-box, #incorrect-box {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 350px;
  width: auto;
  font-size: 1rem;
}

#scorebox {
  position: absolute;
  font-size: 20px;
}

.answerbox {
  cursor: pointer;
  font-size: 20px;
  border-radius: 12px;
  padding: 14px 40px;
}

#submit, #start {
  font-size: 20px;
  border-radius: 12px;
  padding: 14px 40px;
  cursor: pointer;
}

#start {
  margin-bottom: 20px;
}

#highscore {
  font-size: 20px;
  border-radius: 12px;
  padding: 14px 40px;
}

#scoretable {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  width:50%;
  height:25%;
}